:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

}

*,
*::before,
*::after {
  box-sizing: border-box;
}

figure {
  margin: 0;
}

.img-container {
  img {
    border-radius: 9px;
    display: block;
    width: 300px;
    height: 300px;
    object-fit: cover;
    transition: opacity 0.3s;
    mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
  }
}
